// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.create{
    margin-left: 350px;
    display: inline-block;
    border:solid black 1px;
    vertical-align: top;
}
.groups{
    display: inline-block;
}
.join{
    display:inline-block;
    margin-left: 300px;
}